<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.attoresearch.Assignment.Mapper.HostsMapper">
    <insert id="HostInsert" parameterType="hashmap">
        INSERT INTO HOST (ip, name) VALUES(#{ip}, #{name})
    </insert>

    <select id="HostAllMapper" resultType="HostDTO">
        SELECT ID, IP, NAME, CREATED_AT, UPDATED_AT
        FROM HOST
    </select>

    <select id="HostSearchMapper" resultType="HostDTO" parameterType="int">
        SELECT ID, IP, NAME, CREATED_AT, UPDATED_AT
        FROM HOST
        WHERE ID = #{id}
    </select>

    <update id="HostUpdateMapper" parameterType="HostDTO">
        UPDATE
            HOST
        <trim prefix="SET" suffixOverrides=",">
            <if test="ip != null">
                IP = #{ip},
            </if>
            <if test="name != null">
                NAME = #{name},
            </if>
        </trim>
        WHERE ID = #{id}
    </update>


    <delete id="HostDeleteMapper" parameterType="int">
        DELETE FROM HOST WHERE ID=#{id}
    </delete>


    <select id="AllHostManagementMapper" resultType="HostManagementDTO">
        SELECT ID, IP, NAME, CREATED_AT, UPDATED_AT, ALIVE_STATUS, ALIVE_TIME FROM HOST
    </select>

    <select id="HostManagementMapper" parameterType="int" resultType="HostManagementDTO">
        SELECT ID, IP, NAME, CREATED_AT, UPDATED_AT, ALIVE_STATUS, ALIVE_TIME
        FROM HOST
        WHERE ID = #{id}
    </select>

    <update id="HostAliveUpdateMapper" parameterType="HostManagementDTO">
        UPDATE
        HOST
        SET
            <if test="alive_time != null">
                ALIVE_TIME = #{alive_time},
            </if>
        ALIVE_STATUS = #{alive_status}
        WHERE ID = #{id}
    </update>
</mapper>